.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__image{
    object-fit: contain;
    height: 25px;
    margin-left: 20px;
}
.header__middle{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray
}
.header__middle > input {
    flex: 1;
    border: none;
}
.header__inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__right{
    display: flex;
    align-items: center;
}
.header__icon{
    margin-right: 8px;
}